@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

body {
    background: linear-gradient(0.25turn, #578d6f, #628a74, #578d6f);
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    align-items: center;
}

section {
    padding: 30px;
}

div.logo {
    padding: 2px;
}

div.menu {
    padding: 5px;
}

div.menu a {
    color: rgb(53, 82, 109);
    font-size: 25px;
    margin: 15px;
}

div.menu a:hover {
    text-decoration: underline;
    color: rgb(66, 102, 136);
}

div.title1 {
    font-size: 30px;
    color: rgb(247, 247, 247);
}